*.log
npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db

.env
.env.backup
.env.production

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vagrant
/.vscode
/.zed

.phpactor.json
.phpunit.result.cache

/auth.json
auth.json

/node_modules
/vendor

bootstrap/compiled.php

app/storage/

/public/build
/public/hot
/public/storage
public_html/hot
public_html/storage

/storage/*.key
/storage/pail

Homestead.json
Homestead.yaml
